
<div class="datos">
  {% if Web %}<h3>Mis proyectos Web</h3>{% endif %}
</div>

<div class="content-Web">
{% for Web in Web %}
  <iframe src="{{ Web.link }}" scrolling="yes">
      <p>Su navegador no soporta iframes.</p>
    </iframe>
{% endfor %}
</div>

<style media="screen">
  .content-Web{
    width: 90%;
    margin-left: 5%;
    float: left;
    background-color: rgb(255, 255, 255);
        margin-bottom: 50px;
  }
  .content-Web>iframe{
    width: 25%;
    margin-left: 6.25%;
    float: left;
    background-color: rgb(255, 255, 255);
  }
  .Web{
    width: 29.33%;
    height: 220px;
    float: left;
    overflow: hidden;
    margin: 2%;
    background-color: rgb(255, 255, 255);
  }
  .Web>iframe{
    overflow: scroll;
    width: 100%;
    float: left;
  }
</style>
