<head>
  <meta charset="utf-8">
  <title>{% block titulo %}
  {% endblock %}</title>

  <!-- http://fontastic.me/ -->
<link href="https://file.myfontastic.com/QGo7mPeY9LbyDYgsD33fXU/icons.css" rel="stylesheet">
                                     <!-- FAVEICONS  http://realfavicongenerator.net/ -->

                                                                          <!-- FONT-FAMILY -->
                                        <link href="https://fonts.googleapis.com/css?family=Arapey|Russo+One" rel="stylesheet">
                                        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
                                        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
                                        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
                                        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
                                        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
                                        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
                                        <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
                                                                  <!-- JQUERy-3 -->
                                  <script type="text/javascript" src="https://producto1.000webhostapp.com/jquery-3.2.1.js"></script>
                                  <script type="text/javascript">
                                    //$(window).on('load', function() {
                                      //  $('#slider').nivoSlider();
                                      //  $('.esconder1').hide();
                                      //  $('.esconder2').hide();
                                    //});

                                    </script>
{% include "base/css3Base.html" %}

  <script type="text/javascript">
  //Elemento de carga de logo
    window.onload = function() {
      var contenedor = document.getElementById('contenedor_carga');
      contenedor.style.visibility = 'hidden';
      contenedor.style.opacity = '0';
    }


  </script>
</head>
