{% extends 'BASE.HTML' %}

{% block titulo %}
Inicio-Tecnologias-Dedicadas
{% endblock %}
 {% block contenido_inicio %}


<div class="PrimeraCara">
  <div class="scrinn">
    <h1>Hola Usuario</h1><br>
    <h3>Comienza a diseñar tu currículum vitae digital.</h3>
    <a href="/Usuario">Comiezo</a><br>
    <h2>Currículums:  {% for ContadorCurriculum in ContadorCurriculum %}   {{ ContadorCurriculum.contadorCurriculum }}   {% endfor %} </h2>
  </div>
  <div class="contenedor-menu">

  <a href="/Usuario" class="btn-menu">TECNOLOGÍAS DEDICADAS </a>

  <ul class="menu">

    <li><a> <span class="icono izquierda icon-child a"></span>NOSOTROS <span class="icono derecha  icon-caret-down"></span></a>
      <ul>
        <li ><a href="/Comentarios" class="Comentarios">Comentarios</a></li>
        <li><a href="/Contactos">Contactos</a></li>
      </ul>
    </li>
  <!--  <li class="btnbtn"><a> <span class="icono izquierda icon-user-1 v" ></span>SERVICIOS DE:<span class="icono derecha  icon-caret-down"></span></a>
      <ul>
        <li><a href="/Proximamente">Diseño</a></li>
        <li><a href="/Proximamente">Programación</a></li>
      </ul>
    </li>
    <li class="btnbtn"><a> <span class="icono izquierda icon-flame r" ></span>SHOP <span class="icono derecha  icon-caret-down"></span></a>
      <ul>
        <li><a href="/Proximamente">Portafolios</a></li>
        <li><a href="/Proximamente">Software</a></li>
      </ul>
    </li>-->
    <li><a> <span class="icono izquierda icon-play b" ></span>CUENTAS <span class="icono derecha  icon-caret-down"></span></a>
      <ul>
        <li><a href="/Ingreso">Ingresar</a></li>
        <li><a href="/Creando Cuenta">Crear Cuenta</a></li>
      </ul>
    </li>
  </ul>

  <script type="text/javascript">
    $(document).ready(function() {
     //$('.menu li:has(ul)').click(function(e){
     $('.menu li').click(function(e){

       if ($(this).hasClass('activado')){
          $(this).removeClass('activado');
          $(this).children('ul').slideUp();
          if ($('.PrimeraCara').height() < 220) {
          $('.ventanaD').css({ 'display' : 'block'})
        }else{
          $('.ventanaD').css({ 'display' : 'none'})
          $('.scrinn').css({ 'display' : 'block'})
        }
       }else{
         $('.menu li ul').slideUp();
         $('.menu li').removeClass('activado');
         $(this).addClass('activado');
         $(this).children('ul').slideDown();
         if ($('.PrimeraCara').height() > 220) {
         $('.ventanaD').css({ 'display' : 'block'})
         $('.scrinn').css({ 'display' : 'none'})
         }else{
           $('.ventanaD').css({ 'display' : 'none'})
           $('.scrinn').css({ 'display' : 'block'})
         }
       }
     })
     $('btn-menu').click(function() {
       $('.contenedor-menu .menu').slideToggle();
     });
     $(window).resize()
    })

    alto =  $(document).height();
    ancho = $(document).width();

    console.log(ancho);
  $('.PrimeraCara').css({'height' : alto })

  if (ancho < 700) {
    $('.body').hide();
  }
  </script>
  </div>

<div class="ventanaD">
  <div class="unode4">
    <span class="icon-rocket"></span>

    <h3>Productos</h3>
<p class="unode4P">Encontra lo que buscas en aplicaciones web, de escritorio, moviles, etc.</p>
  </div>
  <div class="dosde4">
    <span class="icon-soundcloud"></span>
    <h3>Nube</h3>
<p class="dosde4P" >Guarda tus datos y proyectos en la nube de forma rapida y sencilla.</p>
  </div>
  <div class="tresde4">
    <span class="icon-terminal"></span>
    <h3>Amigable</h3>
<p class="tresde4P">Tecnologías dedicadas tiene un entorno amigable e intuitivo</p>
  </div>
  <div class="cuatrode4">
    <span class="icon-atom"></span>
    <h3>Herramientas</h3>
<p class="cuatrode4P" >Múltiples Herramientas que te permitan desarrollar tus trabajos de forma mas sencilla.</p>
  </div>

</div>
  <style media="screen">

  .icono{
    color:rgb(19, 43, 31);
  }
  .btn-menu .icono{
    float: right;
  }


  .btn-menu{
    display: block;
    padding: 20px;
    background: #0d2c44;
    color: #fff;
    border: 2px solid  #fff;
  }
  .contenedor-menu > a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  .contenedor-menu{
    float: left;
    width: 30%;
    margin-left: 5%;
    min-width: 300px;
    padding: 0px 0px;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
  }
  .contenedor-menu .menu{
      width: 100%;
  }
  .contenedor-menu ul{
    list-style: none;
  }
  .contenedor-menu .menu li a {
    color: #1a95d5;
    display: block;
    padding: 25px 30px;
    background: rgba(0, 0, 0, 0);
    margin-top: 3px;
    border:1px solid #1a95d5;
  }
  .contenedor-menu .menu li a:hover{
    background: rgba(26, 149, 213, 0.66);
    color: #fff;
  }
  .contenedor-menu .menu .icono{
    font-size: 25px;
    line-height: 18px;
  }
  .contenedor-menu .menu .icono.izquierda{
    float: left;
    margin-right: 10px;
  }
  .contenedor-menu .menu .icono.derecha{
    float: right;
    margin-left: 10px;
    color: rgb(231, 231, 231);
  }
  .contenedor-menu .menu ul{
  display: none;
  }
  .contenedor-menu .menu ul li a{
    background-color: rgba(4, 4, 4, 0.6);

  }
  .contenedor-menu .menu .activado > a{
    background-color: #1a95d5;
    color: #fff;
  }
  .r{
    color: rgba(255, 0, 0, 0.64);
  }
  .v{
    color: rgba(0, 255, 33, 0.64);
  }
  .a{
    color: rgba(2, 0, 255, 0.64);
  }
  .b{
    color: rgb(56, 56, 56);
  }
  .btnbtn{
    background-image: url('http://127.0.0.1:9000/STATIC/En-progreso.png');
    background-size: 100% 100%;
  }
  </style>


</div>


<div class="muestrari1">
  <h1 class="cetro">Usuarios destacados en TECNOLOGÍAS DEDICADAS</h1>
      {% for destacados in destacados %}
      <div class="cont-logro">




        <div class="usuario">

           <a href="Curriculum/{{ destacados.pkUsuario }}">
          <img src="http://127.0.0.1:9000/STATIC/media/{{ destacados.CuentaDelUsuario }}/FotoDePerfil/FotoDePerfil_{{ destacados.CuentaDelUsuario }}.jpg" alt=""></a>


        </div>


          <h2>{{ destacados.Nombre }}</h2><br>
          <h2>{{ destacados.Telefono }}</h2><br>
          <p>{{ destacados.Email }}</p><br>
          <div class="logro">
              <div class="para">

                  {{ destacados.EspectativaDePuesto }}

              </div>

          </div>
        <p>  &nbsp; {{ destacados.DiasInscripto }}</p>
    </div>
    {% endfor %}
</div>

<!--
<div class="pre-footer">
  <div class="buscador">
    <form class="box" autocomplete="off">
      <div class="container-1 autocomplete">
          <span class="icon icon-briefcase-1 "><i class="fa fa-search"></i></span>
          <input type="search" id="search" placeholder="Nombre de Usuario..." />
      </div>
    </form>
  </div>
    <div class="contenedor-Resultadobusqueda">

  </div>
</div>
-->

 <style media="screen">
.alinear-texto>h1{
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  color: rgb(33, 157, 203);
  font-family: 'Arapey', serif;
}
.alinear-texto>p{
  background-color: rgb(176, 241, 228);
  width: 100%;
  text-align: left;
  padding-left: 25px;
  font-size: 25px;
  font-family: 'Arapey', serif;
  border: 2px solid rgb(141, 138, 153);
  padding: 30px 10px;
}


 </style>
 {% endblock %}
